a{
    text-decoration: none;
    color: black;
}
a:visited{
    color: brown;
}
a:hover{
    color: aqua;
}
a:active{
    color: red;
    font-weight: bold;
}
a:focus{
    color: blueviolet;
    font-size: 18px;
}
    
   