* {
  margin: 0px;
  padding: 0px;
}

h1 {
  color: chocolate;
  text-align: left;
}

.one {
  text-align: center;
  text-align-last: left;
}

.two {
  text-align: center;
  margin-top: 15px;
}

.three {
  direction: rtl;
  unicode-bidi: bidi-override;
}

.baseline {
  vertical-align: baseline;
}

.text-top {
  vertical-align: text-top;
}

.text-bottom {
  vertical-align: text-bottom;
}

.sub1 {
  vertical-align: sub;
}

.sub {
  vertical-align: sub;
}

.sup {
  vertical-align: sup;
}

.super {
  vertical-align: super;
}
