* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.aa {
  text-decoration: none;
  font-size: 30px;
}
.ab {
  font-size: 30px;
  text-decoration: overline;
}
.ac {
  font-size: 30px;
  text-decoration: underline;
}
.ad {
  font-size: 30px;
  text-decoration: underline overline;
}
.ae {
  text-decoration: line-through;
}
.af{
  font-size: large;
}
